
@media screen and (max-width: 800px) {
    .quiz-grid {
        display: grid;
        justify-items:center;
        gap: 2%;
    }
    .class-body{
        margin:0 8% 0 8%;
        padding: 1% 0 3% 0%;
    }
    
}
@media screen and (min-width: 800px) {
    .quiz-grid {
        display: grid;
        justify-items:center;
        grid-template-columns: 3fr 3fr 3fr;
        gap: 2%;
    }
    .class-body{
        margin:0 8% 0 8%;
        padding: 1% 0 3% 0%;
        outline: 1px solid rgba(255, 255, 255, .25);
    }
    
}
.class-home{
    margin-top:2%;
}

/* Main class header */
.class-header {
    text-align: center;
    color: white;
    margin-top:1.5%;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root{
    background-color:#4E83C2 !important;
    text-decoration:none !important;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root:hover{
    background-color:#4e79c2 !important;
}
.quick-actions{
    display:flex;
    justify-content:center;
    align-items:center;
}
.quick-actions > div > button > p{
    text-transform:none !important;
    margin:10px !important;
    font-family: var(--main-font);
    font-weight: 500;
}
/* each class card */
.class-cards {
    margin-top: 2%;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-gap: 3%;
    text-align: center;
    align-items: center;
}
hr {
    color:white;
}
.class-page-mobile, .class-page{
    padding-left: 6%;
    padding-right: 6%;
}
/* mobile design */
.class-cards-mobile {
    margin-left: 11%;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 3fr;
    grid-gap: 3%;
    text-align: center;
}
.class-body > div > h2 {
    color:white;
}
/* mobile */
.class-header-mobile {
    margin-top: 2%;
    text-align: center;
    color: white;
}
/* class body for mobile */
.class-body-mobile {
    color: white;
}

/* quiz assigned cards for mobile */
.quizassigned-mobile {
    margin-top: 4%;

}
.css-1t8q4u1-MuiPaper-root-MuiCard-root > .css-46bh2p-MuiCardContent-root{
    /* set background color to red */
    background-color: var(--secondary-color);
    color:white;
}
/* generic quiz card */
.quiz-card {
    margin-top: 2%;
    text-align: center;
    font-family: var(--main-font);
}

.quiz-card > div {
    border-radius:25px !important;
}
/* container used for quiz cards in a grid */

.doughnut-chart{
    width:210px;
    height:210px;
}

.quizassigned, .quizcompleted {
    margin-left:1%;
}
.start-quiz-button{
    text-transform:none !important;
    font-family: var(--main-font);
    outline:rgba(255, 255, 255, .25);
    font-size: 0.9125rem;
    background-color: var(--secondary-color);
    color:white;
    padding: 8px;
    border-radius:4px;
}