@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --background-color: #f8fafc;
    --secondary-color: rgb(79 70 229);
    --main-font: 'Montserrat', sans-serif;
}

body {
    background-color: var(--background-color);
    font-family: var(--main-font);
    /* margin-left: 200px; */
    /* overflow: hidden; */
}

svg {
    display: none;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

/* Global CSS (containers, buttons etc) */
@layer base {
    button {
        @apply px-6 py-3 bg-indigo-700 text-white rounded-md font-medium shadow-md;
    }
}